body{
    text-align: center;
    background-image:url("brown1.JPG");
    background-size: cover;
    font-size: 15px;
}
*
{
    font-size: 15px;
    border-radius: 15px;
}
 div {
     font-size: 44px;
 }






